.section-title {
  margin-bottom: 25px;
  font-size: 22px;
  font-weight: 600;
}

/* Contenedor principal */
.form-card {
  max-width: 500px;
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  gap: 18px;
}

/* Inputs */
.form-card input[type="text"],
.form-card input[type="number"],
.form-card input[type="file"] {
  padding: 12px 14px;
  border-radius: 10px;
  border: 1px solid #d1d5db;
  font-size: 14px;
  transition: 0.2s;
}

.form-card input:focus {
  outline: none;
  border-color: #e69c00;
  box-shadow: 0 0 0 3px rgba(230, 156, 0, 0.15);
}

.error {
  font-size: 12px;
  color: #ef4444;
  margin-top: 4px;
}

input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
  border: 1px solid #ef4444;
}

.input-with-prefix {
  display: flex;
  align-items: center;
  /*border: 1px solid #d1d5db;
  border-radius: 10px;
  background: #f9fafb;*/
  padding: 0 12px;
  transition: 0.2s;
}

/*.input-with-prefix:focus-within {
  border-color: #e69c00;
  box-shadow: 0 0 0 3px rgba(230, 156, 0, 0.15);
  background: white;
}*/

.input-with-prefix .prefix {
  font-weight: 600;
  color: #6b7280;
  margin-right: 6px;
}

.input-with-prefix input {
  /*border: none !important;
  outline: none;
  background: transparent;*/
  flex: 1;
  padding: 12px 0;
  font-size: 14px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.field label {
  font-size: 13px;
  font-weight: 600;
  color: #374151;
  padding-top: 20px;
}

/* File input más limpio */
.form-card input[type="file"] {
  padding: 10px;
  background: #f9fafb;
  cursor: pointer;
}

/* Botón principal */
.form-card button {
  margin-top: 10px;
  padding: 14px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: bold;
  background: #e69c00;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.form-card button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 18px rgba(230, 156, 0, 0.3);
}

.form-card button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.form-card select {
  padding: 12px 14px;
  border-radius: 10px;
  border: 1px solid #d1d5db;
  font-size: 14px;
  transition: 0.2s;
}

.form-card select:focus {
  outline: none;
  border-color: #e69c00;
  box-shadow: 0 0 0 3px rgba(230, 156, 0, 0.15);
}

.checkbox-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.image-preview {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.image-preview img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

/* Responsive */
@media (max-width: 768px) {
  .form-card {
    max-width: 100%;
    padding: 20px;
  }
}